<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
</head>

<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Content Row -->
                    <div class="row">

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-info shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Total
                                                number of captures
                                            </div>
                                            <div class="row no-gutters align-items-center">
                                                <div class="col-auto">
                                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">
                                                        {{numberCaptures}}</div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>

                    <!-- Content Row -->

                    <div class="row">

                        <!-- Area Chart -->
                        <div class="col-xl-12 col-lg-7">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Capture List</h6>

                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="chart-area">

                                        <!-- Page Heading -->
                                        <div class="d-sm-flex align-items-center justify-content-between mb-4">
                                            <a href="/dashboard/capture"
                                                class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                                                <i class="fas fa-folder fa-sm text-white-50"></i> Capture Generator</a>
                                            <a href="/dashboard/read_capture"
                                                class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                                                <i class="fas fa-folder fa-sm text-white-50"></i> Load capture</a>
                                        </div>

                                        <div class="table-responsive">
                                            <table class="table table-bordered" id="dataTable" width="100%"
                                                cellspacing="0">

                                                {{#ifCond user.role 0}}
                                                <thead>
                                                    <tr id="table-header" class="">
                                                        <th data-priority="1">ID Capture</th>
                                                        <th data-priority="2">Email</th>
                                                        <th data-priority="3">Start time</th>
                                                        <th data-priority="4">End time</th>
                                                        <th data-priority="5">More details</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {{#each captures}}
                                                    <tr>
                                                        <td>
                                                            {{ID_C}}
                                                        </td>
                                                        <td>
                                                            {{email}}
                                                        </td>
                                                        <td>
                                                            {{start_time}}
                                                        </td>
                                                        <td>
                                                            {{end_time}}
                                                        </td>
                                                        <td>
                                                            <div class="header-tools">
                                                                <div class="tools">
                                                                    <button>
                                                                        <a href="/dashboard/listframe/{{ID_C}}">></a>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    {{/each}}
                                                </tbody>
                                                {{/ifCond}}
                                                {{#ifCond user.role 1}}
                                                <thead>
                                                    <tr id="table-header" class="">
                                                        <th data-priority="1">ID Capture</th>
                                                        <th data-priority="2">Start time</th>
                                                        <th data-priority="3">End time</th>
                                                        <th data-priority="4">More details</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {{#each captures}}
                                                    <tr>
                                                        <td>
                                                            {{ID_C}}
                                                        </td>
                                                        <td>
                                                            {{start_time}}
                                                        </td>
                                                        <td>
                                                            {{end_time}}
                                                        </td>
                                                        <td>
                                                            <div class="header-tools">
                                                                <div class="tools">
                                                                    <button>
                                                                        <a href="/dashboard/listframe/{{ID_C}}">></a>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    {{/each}}
                                                </tbody>
                                                {{/ifCond}}
                                            </table>
                                        </div>
                                        <canvas id="myAreaChart"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->
    </div>

    <!-- Details Modal-->
    <div class="modal fade" id="" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Capture details</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">

                    <thead>
                        <tr id="table-header" class="">
                            <th data-priority="1">ID Capture</th>
                            <th data-priority="2">Email</th>
                            <th data-priority="3">Start time</th>
                            <th data-priority="4">End time</th>
                            <th data-priority="5">More details</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each captures}}
                        <tr>
                            <td>
                                {{ID_C}}
                            </td>
                            <td>
                                {{email}}
                            </td>
                            <td>
                                {{start_time}}
                            </td>
                            <td>
                                {{end_time}}
                            </td>
                            <td>
                                <div class="header-tools">
                                    <div class="tools">
                                        <button>
                                            <a data-toggle="modal" data-target="#DetailsModal">></a>
                                        </button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    </div>
    <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
</body>

<!-- Optional JavaScript -->

<script src="https://code.jquery.com/jquery-3.3.1.js"></script>

<!--    Datatables-->
<script src="http://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js" defer></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.foundation.min.js"></script>

<script>
    $(document).ready(function () {
        $('#dataTable').DataTable();
    });
</script>