<style>
th, td {color: black;}
</style>
<img class="img-fluid max-width: 100% height: auto" src="/img/OSI_layers.png">
<p align="right">Note: This sniffer does not capture any data from layers 5 and 6. That is why they are not displayed above.</p>
<table action="/dashboard/listframe/{{capture.ID_C}}" class="table table-bordered" id="dataTable" width="100%">
    <thead>
        <tr id="table-header" class="">
            <th style="background-color:orange" data-priority="1">MAC destination</th>
            <th style="background-color:orange" data-priority="2">MAC source</th>
            <th style="background-color:yellow" data-priority="3">IPv4 source</th>
            <th style="background-color:yellow" data-priority="4">IPv4 target</th>
            <th style="background-color:green" data-priority="5">TCP segment</th>
            <th style="background-color:green" data-priority="6">TCP flags</th>
            <th style="background-color:green" data-priority="7">TCP data</th>
            <th style="background-color:#00e600" data-priority="8">HTTP data</th>
            <th style="background-color:#00e600" data-priority="9">HTTPS data</th>
            <th style="background-color:#00e600" data-priority="10">FTP data</th>
            <th style="background-color:#00e600" data-priority="11">FTPS data</th>
            <th style="background-color:#00e600" data-priority="12">SMTP data</th>
            <th style="background-color:#00e600" data-priority="13">POP3 data</th>
            <th style="background-color:green" data-priority="14">UDP segment</th>
            <th style="background-color:#00e600" data-priority="15">DNS data</th>
            <th style="background-color:#00e600" data-priority="16">DHCP data</th>
            <th style="background-color:yellow" -priority="17">Other ipv4 data</th>
            <th style="background-color:#d00d0d" data-priority="18">Ethernet data</th>
        </tr>
    </thead>
    <tbody>
        {{#each frame}}
        <tr>
            <td>
                {{mac_dest}}
            </td>
            <td>
                {{mac_source}}
            </td>
            <td>
                {{ipv4_source}}
            </td>
            <td>
                {{ipv4_target}}
            </td>
            <td>
                {{tcp_segment}}
            </td>
            <td>
                {{tcp_flags}}
            </td>
            <td>
                {{tcp_data}}
            </td>
            <td>
                {{http_data}}
            </td>
            <td>
                {{https_data}}
            </td>
            <td>
                {{ftp_data}}
            </td>
            <td>
                {{ftps_data}}
            </td>
            <td>
                {{smtp_data}}
            </td>
            <td>
                {{pop3_data}}
            </td>
            <td>
                {{udp_segment}}
            </td>
            <td>
                {{dns_data}}
            </td>
            <td>
                {{dhcp_data}}
            </td>
            <td>
                {{other_ipv4_data}}
            </td>
            <td>
                {{ethernet_data}}
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>

<!-- Optional JavaScript -->

<script src="https://code.jquery.com/jquery-3.3.1.js"></script>

<!--    Datatables-->
<script src="http://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js" defer></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.foundation.min.js"></script>

<script>
    $(document).ready(function () {
        $('#dataTable').DataTable();
    });
</script>