<div class="container p-4">
    <div class="row">
        {{#each releases}}
        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-body">
                    <h3 class="card-title">
                        {{title}}
                    </h3>
                    <p class="m-2">{{artists}}</p>
                    <p>{{timeago created_at}}</p>
                    <a href="/releases/delete/{{id}}" class="btn btn-danger">Delete Link</a>
                    <a href="/releases/edit/{{id}}" class="btn btn-secondary">Edit</a>
                </div>
            </div>
        </div>
        {{else}}
        <div class="col-md-4 mx-auto">
            <div class="card card-body text-center">
                <p>There are no releases created yet.</p>
                <a href="/releases/add">Create One!</a>
            </div>
        </div>
        {{/each}}
    </div>
</div>